@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="/Images/Reserved.ReportViewerWebControl.png" height=50 />
<br />
<br />
<p>Thanks for your feedback - we'll get to reviewing it as soon as possible.<br />
    <br />Click @Html.ActionLink("here","Test") to submit a new request.</p>